* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.wrapper {
  width: 40%;
  margin: 3rem auto;

  font-family: 'Inika';
  font-weight: 400;
  line-height: 100%;
  background-color: hsl(271, 38%, 70%);
  cursor: pointer;
}

.accordition-item {
  border-top: 0.1rem solid black;
}

.cross-icon {
  width: 4%;
  transform: rotate(45deg);
}

.accordition-button {
  display: flex;
  padding: 0.4rem;
  justify-content: space-between;
  cursor: pointer;
}

.radio-input {
  display: none;
}

.radio-input:checked + .accordition-button > img {
  transform: rotate(0);
}

.meme-image {
  display: block;
  margin: 0.1rem auto;
  width: 40%;
}


